/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

#wrapper {
  width: 960px;
  background-color: #999999;
  margin: 10px auto;
}

@media screen and (max-width: 960px) {
  #wrapper {
    width: 100%;
    margin: 5px auto;
  }
}
